<footer>
    <div>
        <b>Curso: Ingenieria del Software 3</b>
        <b>Estudiante: Marcio David Saldivar Veron</b>
        <a href="https://gitlab.com/neodavid987/03-3850665-motor-plantillas"target="_black">Mi repositorio</a>
    </div>
</footer>