<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
       <!-- <li><a href="/paginas/Y18624/index.html">Lujan Caceres - Y18624</a></li>
        <li><a href="/paginas/Y25366/index.html">Christian Salinas - Y25366</a></li>
        <li><a href="/paginas/Y12887/index.html">Steven Lopez - Y12887</a></li>
        <li><a href="/paginas/3850665/index.html">Marcio Saldivar - 3850665</a></li>
        <li><a href="/paginas/info_curso/index.html">Información del Curso</a></li>
        <li><a href="/paginas/wordcloud/index.html">WordCloud</a></li> -->
        {{#each integrantes}}
            <li><a href="/paginas/{{matricula}}/index.html">{{nombre}} {{apellido}} - {{matricula}}</a></li>
        {{/each}}
        <li><a href="/paginas/info_curso/index.html">Información del Curso</a></li>
        <li><a href="/paginas/wordcloud/index.html">WordCloud</a></li>
    </ul>

</nav>